---
import Main from "@layouts/Main.astro";
import Header from "@components/header/Header";
---

<Main title="home">
  <main class="font-mono font-medium tracking-tight">
    <Header client:load />
    <section class="flex flex-col items-start p-5 tracking-tighter">
      <h1 class="text-3xl font-bold py-3">Hello!</h1>

      <p class="astro-FWHD7LWQ">
        Hey, take a look at the earthlings. Goodbye! Eventually, you do plan to
        have dinosaurs on your dinosaur tour, right? Jaguar shark! So tell me -
        does it really exist? Forget the fat lady! You're obsessed with the fat
        lady! Drive us out of here! I gave it a cold? I gave it a virus. A
        computer virus.
      </p>

      <div class="flex flex-row py-3 space-x-2 items-end">
        <a type="button" href="https://github.com/ruvkn">
          <svg stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            ></path>
          </svg>
        </a>
      </div>
    </section>
  </main>
</Main>
