*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: none;
  color: black;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

body {
  @apply w-screen h-screen max-w-prose m-auto p-6 font-sans;
}
