---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="home">
  <main class="text-4xl">
    test test test test test tettttttttttttttttttttttst test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test test test test test test test test test test test test test test
    test test
  </main>
</Layout>
