---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
import Header from "../components/Header.astro";
---

<Layout title="home">
  <main class="font-mono font-medium tracking-tight">
    <Header />
  </main>
</Layout>
