---
import Main from "@layouts/Main.astro";
import Card from "@components/Card.astro";
import Header from "@components/header/Header";
import About from "@components/About.astro";
---

<Main title="home">
  <main class="font-mono font-medium tracking-tight">
    <Header client:load />
    <About />
  </main>
</Main>
