---
import { useState } from "react";
import Link from "../components/Link.astro";

const links = [
  { to: "/blog", label: "home" },
  { to: "/about", label: "about" },
  { to: "/projects", label: "projects" },
];

const [isMenuOpen, setMenuOpen] = useState<boolean>(false);

const toggleMenu = (): boolean => {
  setMenuOpen(!isMenuOpen);
  return isMenuOpen;
};
---

<header class="flex flex-row items-center justify-between p-5">
  <span class="text-xl cursor-pointer">rubenbrandao</span>
  <nav class="invisible md:visible">
    {
      links.map((link) => {
        return <Link href={link.to}>{link.label}</Link>;
      })
    }
  </nav>
  <div class="md:hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width={1.5}
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"></path>
    </svg>
  </div>
</header>
<hr class="mx-5 h-px bg-neutral-300 border-0" />
